<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectt">


    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/elma"
        android:logo="@drawable/elma"
        android:label="@string/app_name"
        android:roundIcon="@drawable/elma"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projectt">
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainPageActivity" />
        <activity android:name=".CateringActivity" />
        <activity android:name=".PrivateLessonActivity" />
        <activity android:name=".RenovationActivity" />


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>